<a href="https://colab.research.google.com/github/Dhenielc15/CCDATSCL_EXERCISES_COM221ML/blob/main/Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

In this activity, you will work with the New York City Airbnb Open Data—a popular, messy, and highly realistic dataset used by data analysts and data scientists around the world. The dataset includes thousands of Airbnb listings along with details about hosts, locations, prices, reviews, and more.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Pmq3Gv7y7z_2Xun-OqMIk43kd5u0TXEatw&s"/>


To guide your work, you will follow the 6-Step Data Wrangling Process, a professional workflow used in industry:

- Discovering. Become familiar with the data by exploring its structure and observing patterns.

- Structuring. Fix issues related to format, column types, indices, and duplicated records.

- Cleaning. Handle missing values, outliers, and inconsistencies so the dataset becomes trustworthy.

- Enriching. Add new features, aggregate information, and enhance the dataset for deeper insights.

- Validating. Apply rule-based checks to ensure the data meets quality standards.

- Publishing. Export and prepare the cleaned dataset for downstream analysis or reporting.
Throughout this exercise, you will answer questions and fill in code cells based on these six steps. You will mimic what professional data scientists do when preparing data for business intelligence dashboards, machine learning models, or exploratory analysis.

In [ ]:
import kagglehub
import os
import pandas as pd
import numpy as np

# Download latest version
path = kagglehub.dataset_download("dgomonov/new-york-city-airbnb-open-data")

print("Path to dataset files:", path)

if os.path.isdir(path):
  print(True)

contents = os.listdir(path)
contents

mydataset = path + "/" + contents[0]
mydataset


df = pd.read_csv(mydataset)

Using Colab cache for faster access to the 'new-york-city-airbnb-open-data' dataset.
Path to dataset files: /kaggle/input/new-york-city-airbnb-open-data
True

## A. Discovering

Display the first 10 rows

In [ ]:
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

Display the column names:

In [ ]:
df.columns.tolist()

['id',
 'name',
 'host_id',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'latitude',
 'longitude',
 'room_type',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'last_review',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

Display the dataframe shape:

In [ ]:
df.shape

(48895, 16)

Identify the numerical features:

In [ ]:
numerical_cols = df.select_dtypes(include=[np.number]).columns.tolist()
print("Numerical features:", numerical_cols)
numerical_cols

Numerical features: ['id', 'host_id', 'latitude', 'longitude', 'price', 'minimum_nights', 'number_of_reviews', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']

['id',
 'host_id',
 'latitude',
 'longitude',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

Identify the categorical features

In [ ]:
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()
print("Categorical features:", categorical_cols)
categorical_cols

Categorical features: ['name', 'host_name', 'neighbourhood_group', 'neighbourhood', 'room_type', 'last_review']

['name',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'room_type',
 'last_review']

What are the top 5 questions this dataset might help answer?

In [ ]:
questions = [
    "What's the average price per neighborhood?",
    "Which areas have the most listings?",
    "Does price affect how many reviews a listing gets?",
    "Who are the hosts with the most properties?",
    "Do listings with longer minimum nights get fewer bookings?"
]

for i, q in enumerate(questions, 1):
    print(f"{i}. {q}")

1. What's the average price per neighborhood?
2. Which areas have the most listings?
3. Does price affect how many reviews a listing gets?
4. Who are the hosts with the most properties?
5. Do listings with longer minimum nights get fewer bookings?

## B. Structuring

Check if the dataset has proper column types

In [ ]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

Check if the dataset has index issues

In [ ]:
print("Index type:", type(df.index))
print("Is index unique?", df.index.is_unique)
print("Index range:", df.index.min(), "to", df.index.max())
df.index

Index type: <class 'pandas.core.indexes.range.RangeIndex'>
Is index unique? True
Index range: 0 to 48894

RangeIndex(start=0, stop=48895, step=1)

Check if the dataset has duplicated rows

In [ ]:
duplicated_count = df.duplicated().sum()
print(f"Number of duplicated rows: {duplicated_count}")
if duplicated_count > 0:
    print("\nDuplicated rows:")
    df[df.duplicated()]
else:
    print("No duplicated rows found.")

Number of duplicated rows: 0
No duplicated rows found.

Convert columns to correct types (e.g., dates → datetime).

In [ ]:
print("Current dtypes:")
print(df.dtypes)

if 'last_review' in df.columns:
    df['last_review'] = pd.to_datetime(df['last_review'], errors='coerce')

if 'price' in df.columns:
    df['price'] = pd.to_numeric(df['price'], errors='coerce')

print("\nUpdated dtypes:")
print(df.dtypes)

Current dtypes:
id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

Updated dtypes:
id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
dtype: object

Identify at least one structural issue and describe how to fix it.

In [ ]:
# Check for issues
problems = []
solutions = []

# Price
if 'price' in df.columns:
    if df['price'].dtype == 'object':
        bad = pd.to_numeric(df['price'], errors='coerce').isna().sum()
        if bad > 0:
            problems.append(f"Price has {bad} non-numeric values")
            solutions.append("pd.to_numeric(df['price'], errors='coerce') then drop NaN")
    else:
        invalid = (df['price'] <= 0).sum()
        if invalid > 0:
            problems.append(f"{invalid} prices are <= 0")
            solutions.append("df = df[df['price'] > 0]")

# Dates
for col in df.columns:
    if ('date' in col.lower() or 'review' in col.lower()) and df[col].dtype == 'object':
        problems.append(f"{col} is string")
        solutions.append(f"pd.to_datetime(df['{col}'])")

# Index
if not df.index.is_unique or df.index.min() != 0:
    problems.append("Index issue")
    solutions.append("df.reset_index(drop=True)")

# Show results
print("Problems:")
for p in problems:
    print(f"  - {p}")

print("\nHow to fix:")
for s in solutions:
    print(f"  - {s}")

Problems:
  - 11 prices are <= 0

How to fix:
  - df = df[df['price'] > 0]

## C. Cleaning

Check for missing values

In [ ]:
missing_values = df.isnull().sum()
missing_percent = (missing_values / len(df)) * 100
missing_df = pd.DataFrame({
    'Missing Count': missing_values,
    'Percentage': missing_percent
})
missing_df = missing_df[missing_df['Missing Count'] > 0].sort_values('Missing Count', ascending=False)
print("Missing values summary:")
missing_df

Missing values summary:

                   Missing Count  Percentage
reviews_per_month          10052   20.558339
last_review                10052   20.558339
host_name                     21    0.042949
name                          16    0.032723

Check for outliers in `minimum_nights`

In [ ]:

if 'minimum_nights' in df.columns:
    print("Minimum nights statistics:")
    print(df['minimum_nights'].describe())
    print(f"\nOutliers (using IQR method):")
    Q1 = df['minimum_nights'].quantile(0.25)
    Q3 = df['minimum_nights'].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df['minimum_nights'] < lower_bound) | (df['minimum_nights'] > upper_bound)]
    print(f"Lower bound: {lower_bound}, Upper bound: {upper_bound}")
    print(f"Number of outliers: {len(outliers)}")
    outliers[['minimum_nights']].head(10)

Minimum nights statistics:
count    48895.000000
mean         7.029962
std         20.510550
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64

Outliers (using IQR method):
Lower bound: -5.0, Upper bound: 11.0
Number of outliers: 6607

Check for invalid values (e.g., price ≤ 0)

In [ ]:
if 'price' in df.columns:
    invalid_prices = df[df['price'] <= 0]
    print(f"Number of rows with price <= 0: {len(invalid_prices)}")
    if len(invalid_prices) > 0:
        print("\nInvalid price rows:")
        invalid_prices[['id', 'name', 'price']].head(10)
    else:
        print("No invalid prices found.")

Number of rows with price <= 0: 11

Invalid price rows:

Apply a missing-value strategy (drop, fill, or flag)

In [ ]:

df_cleaned = df.dropna(subset=['name', 'host_id', 'neighbourhood_group'])


if 'price' in df_cleaned.columns:
    invalid_price_count = (df_cleaned['price'] <= 0).sum()
    if invalid_price_count > 0:
        print(f"Removing {invalid_price_count} rows with invalid prices (<= 0)")
        df_cleaned = df_cleaned[df_cleaned['price'] > 0]


if 'reviews_per_month' in df_cleaned.columns:
    df_cleaned['reviews_per_month'] = df_cleaned['reviews_per_month'].fillna(0)



print(f"Original rows: {len(df)}")
print(f"Rows after cleaning: {len(df_cleaned)}")
print(f"Rows removed: {len(df) - len(df_cleaned)}")
df = df_cleaned

Removing 11 rows with invalid prices (<= 0)
Original rows: 48895
Rows after cleaning: 48868
Rows removed: 27

Apply an outlier-handling strategy

In [ ]:

if 'minimum_nights' in df.columns:

    df['minimum_nights'] = df['minimum_nights'].clip(upper=365)


    if 'price' in df.columns:
        price_99th = df['price'].quantile(0.99)
        df['price'] = df['price'].clip(upper=price_99th)

    print("Outliers have been capped.")
    print(f"Minimum nights max: {df['minimum_nights'].max()}")
    if 'price' in df.columns:
        print(f"Price max: {df['price'].max()}")

Outliers have been capped.
Minimum nights max: 365
Price max: 799

## D. Enriching

Create at least 3 new variables:
- price_per_minimum_night
- review_rate_per_month (combine ratings + frequency)
- is_expensive (boolean flag based on price threshold)

In [ ]:

if 'price' in df.columns and 'minimum_nights' in df.columns:
    df['price_per_minimum_night'] = df['price'] / df['minimum_nights'].replace(0, 1)


if 'number_of_reviews' in df.columns and 'reviews_per_month' in df.columns:

    df['review_rate_per_month'] = df['reviews_per_month'] * (df['number_of_reviews'] / (df['number_of_reviews'] + 1))

    if 'reviews_per_month' in df.columns:
        df['review_rate_per_month'] = df['reviews_per_month'].fillna(0)


if 'price' in df.columns:
    price_median = df['price'].median()
    df['is_expensive'] = df['price'] > price_median

print("New variables created:")
print(df[['price_per_minimum_night', 'review_rate_per_month', 'is_expensive']].head())

New variables created:
   price_per_minimum_night  review_rate_per_month  is_expensive
0                    149.0                   0.21          True
1                    225.0                   0.38          True
2                     50.0                   0.00          True
3                     89.0                   4.64         False
4                      8.0                   0.10         False

Create 1 aggregated summary table

(e.g. average price per neighborhood, number of hosts per borough)

In [ ]:

if 'neighbourhood_group' in df.columns and 'price' in df.columns:
    summary = df.groupby('neighbourhood_group').agg({
        'price': ['mean', 'median', 'count'],
        'host_id': 'nunique'
    }).round(2)
    summary.columns = ['Avg_Price', 'Median_Price', 'Number_of_Listings', 'Number_of_Hosts']
    summary = summary.sort_values('Avg_Price', ascending=False)
    print("Summary: Average price and number of hosts per neighborhood group")
    summary

Summary: Average price and number of hosts per neighborhood group

## E. Validating

Create at least 3 validation checks
- Price must be positive.
- Host ID should not be null.
- Minimum nights must be ≥ 1.
- Generate a validation report:
- Count of rows violating each rule.

Decide if invalid rows (if any) should be removed or corrected?

In [ ]:

validation_results = {}

if 'price' in df.columns:
    invalid_price = (df['price'] <= 0).sum()
    validation_results['Price must be positive'] = invalid_price

if 'host_id' in df.columns:
    null_host_id = df['host_id'].isnull().sum()
    validation_results['Host ID should not be null'] = null_host_id

if 'minimum_nights' in df.columns:
    invalid_min_nights = (df['minimum_nights'] < 1).sum()
    validation_results['Minimum nights must be >= 1'] = invalid_min_nights

validation_report = pd.DataFrame({
    'Validation Rule': list(validation_results.keys()),
    'Violations': list(validation_results.values())
})
validation_report['Status'] = validation_report['Violations'].apply(
    lambda x: 'PASS' if x == 0 else 'FAIL'
)

print("Validation Report:")
print(validation_report)
print(f"\nTotal rows in dataset: {len(df)}")
print(f"\nDecision: {'Dataset is valid' if validation_report['Violations'].sum() == 0 else 'Some rows need to be removed or corrected'}")

if validation_report['Violations'].sum() > 0:
    print("\nRemoving invalid rows...")
    if 'price' in df.columns:
        df = df[df['price'] > 0]
    if 'host_id' in df.columns:
        df = df[df['host_id'].notna()]
    if 'minimum_nights' in df.columns:
        df = df[df['minimum_nights'] >= 1]
    print(f"Rows after removal: {len(df)}")

validation_report

Validation Report:
               Validation Rule  Violations Status
0       Price must be positive           0   PASS
1   Host ID should not be null           0   PASS
2  Minimum nights must be >= 1           0   PASS

Total rows in dataset: 48868

Decision: Dataset is valid

               Validation Rule  Violations Status
0       Price must be positive           0   PASS
1   Host ID should not be null           0   PASS
2  Minimum nights must be >= 1           0   PASS

## F. Publishing

Select final columns for publication.

In [ ]:

important_cols = ['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
                  'neighbourhood', 'latitude', 'longitude', 'room_type',
                  'price', 'minimum_nights', 'number_of_reviews',
                  'reviews_per_month', 'price_per_minimum_night',
                  'review_rate_per_month', 'is_expensive']


final_cols = [col for col in important_cols if col in df.columns]
df_final = df[final_cols].copy()

print(f"Selected {len(final_cols)} columns for publication:")
print(final_cols)
df_final.head()

Selected 16 columns for publication:
['id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'minimum_nights', 'number_of_reviews', 'reviews_per_month', 'price_per_minimum_night', 'review_rate_per_month', 'is_expensive']

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,price_per_minimum_night,review_rate_per_month,is_expensive
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,149.0,0.21,True
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,225.0,0.38,True
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,0.00,50.0,0.00,True
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.64,89.0,4.64,False
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.10,8.0,0.10,False

Export cleaned dataset as "cleaned_airbnb.csv"

In [ ]:
df_final.to_csv('cleaned_airbnb.csv', index=False)
print(f"Cleaned dataset exported to 'cleaned_airbnb.csv'")
print(f"Shape: {df_final.shape}")

Cleaned dataset exported to 'cleaned_airbnb.csv'
Shape: (48868, 16)

Export summary reports (e.g., validation or aggregations) as CSV.

In [ ]:

validation_report.to_csv('validation_report.csv', index=False)

if 'neighbourhood_group' in df.columns:
    summary.to_csv('summary_by_neighborhood.csv', index=True)

print("Summary reports exported:")
print("- validation_report.csv")
print("- summary_by_neighborhood.csv")

Summary reports exported:
- validation_report.csv
- summary_by_neighborhood.csv